<p>以下の内容で受け付けました。登録ありがとうございました！</p>

<table>
  <tr>
    <th>申請種別 </th>
    <td><%=h @relinfo.type %></td>
  </tr>
  <tr>
    <th>新曲タイトル </th>
    <td><%=h @relinfo.title %></td>
  </tr>
  <tr>
    <th>URL </th>
    <td><%=h @relinfo.url %></td>
  </tr>
  <tr>
    <th>P名 </th>
    <td><%= h @relinfo.producer %></td>
  </tr>
  <tr>
    <th>リンクURL </th>
    <td><%= h @relinfo.linkurl %></td>
  </tr>
  <tr>
    <th>(主)発表媒体 </th>
    <td><%= h @relinfo.media %></td>
  </tr>
  <tr>
    <th>発表予定日 </th>
    <td><%= h @relinfo.date %></td>
  </tr>
  <tr>
    <th>予定時刻</th>
    <td><%= h @relinfo.time %></td>
  </tr>
  <tr>
    <th>使用ボカロ</th>
    <td><%= h @relinfo.vocaloid_chars %></td>
  </tr>
  <tr>
    <th>動画師</th>
    <td><%= h @relinfo.movie_author %></td>
  </tr>
  <tr>
    <th>絵師</th>
    <td><%= h @relinfo.illust_author %></td>
  </tr>
  <tr>
    <th>連絡先(twitter) </th>
    <td><%= h @relinfo.twitter %></td>
  </tr>
  <tr>
    <th>連絡先(Email) </th>
    <td><%= h @relinfo.email %></td>
  </tr>
  <tr>
    <th>解説 </th>
    <td><%=h(@relinfo.description).gsub(/\n/, '<br>') %></textarea>
  </tr>
</table>
